html, body {
    height: 100%;
}

.app-border {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.menu-container, .main-page-container, .pop-page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.menu-container {
    background-color: #333;
    z-index: 1;
}

.main-page-container {
    z-index: 2;
    background-color: #eee;
}

.pop-page-container {
    z-index: 3;
    background-color: #fff;
}

/* 主窗口父类 */
.main-page-border {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-page-header {
    width: 100%;
    height: 45px;
    background-color: #5e92b5;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.main-header-left {
    width: 46px;
    height: 45px;
    background: #5389ae;
    border-right: 1px solid #5389ae;
    float: left;
}

.main-header-left:active {
    background-color: #537fae;
}

.main-header-right {
    width: 46px;
    height: 45px;
    border-left: 1px solid #5389ae;
    float: right;
}

.main-header-title {
    position: absolute;
    height: 45px;
    left: 45px;
    right: 45px;
    top: 0;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

.main-header-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.main-page-header .main-header-icon:first-child{
    border-right:1px solid #5389ae;
}

.main-page-header .main-header-icon:last-child{
    border-left: 1px solid #5389ae;
}

.main-page-body {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #eee;
    z-index: 1;
}

/* 菜单动画 */
.main-page-slide-out {
    -webkit-animation: mainPageSlideOut 0.3s 0s linear both;
    animation: mainPageSlideOut 0.3s 0s linear both;
}

@-webkit-keyframes mainPageSlideOut {
    0% {
        -webkit-transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(290px)
    }
}

@keyframes mainPageSlideOut {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(290px)
    }
}

.main-page-slide-in {
    -webkit-animation: mainPageSlideIn 0.3s 0s linear both;
    animation: mainPageSlideIn 0.3s 0s linear both;
}

@-webkit-keyframes mainPageSlideIn {
    0% {
        -webkit-transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(-290px)
    }
}

@keyframes mainPageSlideIn {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-290px)
    }
}