.menu {
    margin: 0;
    padding: 0;
}

.menu-item {
    border-top: 1px solid #4A4A4C;
    border-bottom: 1px solid #151517;
    padding: 20px;
    height: 75px;
}

.menu-item:active, .menu-item-active {
    background-color: #444;
}

.menu-item-icon {
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 14px;
    padding: 2px;
    color: #fff;
    background-clip: border-box;
    text-align: center;
}

.menu-item-icon-center {
    background-color: #3895E2;
}

.menu-item-icon-home {
    background-color: #4D8732;
}

.menu-item-icon-setting {
    background-color: #F37F58;
}

.menu-item-icon-about {
    background-color: #7186E3;
}

.menu-item-title {
    float: left;
    font-size: 16px;
    line-height: 32px;
    color: #B8B8B8;
    padding-left: 15px;
}

.menu-item-arrow-icon {
    display: inline-block;
    float: right;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 2px;
    color: #B8B8B8;
    text-align: center;
}